# Esercizio 1
* leggere il file autoMpg.csv e stampa l'inizio del dataframe
* quante righe e quante colonne ha?
* crea una lista con i nomi delle colonne (copilot)
* stampa i valori di 'horsepower' delle righe da 20 a 30 incluse
* ordina i dati e trova le 5 righe con valore più alto di mpg
* stampa l'istogramma delle frequenze della colonna 'cylinders', trova la categoria con il * maggior numero di casi
Per questo chiedi a copilot informazioni sull'uso di value_counts()
* Qual'è il dato strano in horsepower che fa saltare il casting?

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../dataset/autoMpg.csv')
data.head(3)

,cylinders,displacement,horsepower,weight,acceleration,model,origin,mpg
0,8,307.0,130,3504,12.0,70,1,18.0
1,8,350.0,165,3693,11.5,70,1,15.0
2,8,318.0,150,3436,11.0,70,1,18.0

In [3]:
data.shape

(398, 8)

In [4]:
# crea una lista con i nomi delle colonne
data.columns.tolist()

['cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model',
 'origin',
 'mpg']

In [5]:
data.loc[20:30,'horsepower']

20     87
21     90
22     95
23    113
24     90
25    215
26    200
27    210
28    193
29     88
30     90
Name: horsepower, dtype: object

In [6]:
sorted_data = data.sort_values(by='mpg', ascending=False)
sorted_data.head(5)

,cylinders,displacement,horsepower,weight,acceleration,model,origin,mpg
186,4,101.0,83,2202,15.3,76,2,270.0
322,4,86.0,65,2110,17.9,80,3,46.6
329,4,91.0,67,1850,13.8,80,3,44.6
325,4,90.0,48,2085,21.7,80,2,44.3
394,4,97.0,52,2130,24.6,82,2,44.0

In [7]:
f = data['cylinders'].value_counts().to_frame()

In [8]:
f.loc[4,'count']

np.int64(204)

In [9]:
for x in data.loc[:,'horsepower']:
    print(x)
    print(float(x))

130
130.0
165
165.0
150
150.0
150
150.0
140
140.0
198
198.0
220
220.0
215
215.0
225
225.0
190
190.0
170
170.0
160
160.0
150
150.0
225
225.0
95
95.0
95
95.0
97
97.0
85
85.0
88
88.0
46
46.0
87
87.0
90
90.0
95
95.0
113
113.0
90
90.0
215
215.0
200
200.0
210
210.0
193
193.0
88
88.0
90
90.0
95
95.0
?

ValueError: could not convert string to float: '?'

In [ ]:
data.loc[data['horsepower'] == '?', :]

,cylinders,displacement,horsepower,weight,acceleration,model,origin,mpg
32,4,98.0,?,2046,19.0,71,1,25.0
126,6,200.0,?,2875,17.0,74,1,21.0
330,4,85.0,?,1835,17.3,80,2,40.9
336,4,140.0,?,2905,14.3,80,1,23.6
354,4,100.0,?,2320,15.8,81,2,34.5
374,4,151.0,?,3035,20.5,82,1,23.0