# Esercizio 2
Confronta i dati di 4 files e crea un unico file con le colonne scelte dei 4 files

* leggi i file act e sat 2017 e 2018, visualizza i file e le dimensioni degli stessi
* Tieni solo le colonne Sate, Participation, Composite, Total
* in America ci sono 51 stati, analizza eventuali errori e correggi
* Verifica che nei file del 2018, National non è impostato. Rimuovi National dappertutto
* Controlla discrepanze nei nomi degli stati tra i file del 2017 e quelli del 2018, poi correggi
* Check if there are NaN values
* Check type of columns and convert to number
* Rename columns but State to avoid conflict
* merge the dataframe
* saved merged csv

In [57]:
import pandas as pd

In [58]:
sat17 = pd.read_csv('../../dataset/sat-act/sat_2017.csv')
sat17 = sat17.loc[:,['State','Participation','Total']]
sat17['Participation'] = pd.to_numeric(sat17['Participation'].str.replace('%','')) / 100
sat17.columns = ['State','SAT_Participation_2017','SAT_Total_2017']
print(sat17.info())
sat17.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   51 non-null     object
 1   SAT_Participation_2017  51 non-null     float64
 2   SAT_Total_2017          51 non-null     int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB
None

     State  SAT_Participation_2017  SAT_Total_2017
0  Alabama                    0.05            1165
1   Alaska                    0.38            1080
2  Arizona                    0.30            1116

In [59]:
# la colonna participation è di tipo object perchè è fatta 6%

In [60]:
sat18 = pd.read_csv('../../dataset/sat-act/sat_2018.csv')
sat18 = sat18.loc[:,['State','Participation','Total']]
sat18['Participation'] = pd.to_numeric(sat18['Participation'].str.replace('%','')) / 100
print(sat18.info())
sat18.columns = ['State','SAT_Participation_2018','SAT_Total_2018']
sat18.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   Participation  51 non-null     float64
 2   Total          51 non-null     int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.3+ KB
None

     State  SAT_Participation_2018  SAT_Total_2018
0  Alabama                    0.06            1166
1   Alaska                    0.43            1106

In [61]:
act17 = pd.read_csv('../../dataset/sat-act/act_2017.csv')
act17 = act17.loc[:,['State','Participation','Composite']]
act17 = act17.loc[act17['State'] != 'National']
act17.loc[act17['Composite'] == '20.2x','Composite'] = '20.2'
act17['Participation'] = pd.to_numeric(act17['Participation'].str.replace('%','')) / 100
act17['Composite'] = pd.to_numeric(act17['Composite'])
act17.columns = ['State','ACT_Participation_2017','ACT_Total_2017']
print(act17.info())
act17

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 1 to 51
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   51 non-null     object
 1   ACT_Participation_2017  51 non-null     float64
 2   ACT_Total_2017          51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.6+ KB
None

                   State  ACT_Participation_2017  ACT_Total_2017
1                Alabama                    1.00            19.2
2                 Alaska                    0.65            19.8
3                Arizona                    0.62            19.7
4               Arkansas                    1.00            19.4
5             California                    0.31            22.8
6               Colorado                    1.00            20.8
7            Connecticut                    0.31            25.2
8               Delaware                    0.18            24.1
9   District of Columbia                    0.32            24.2
10               Florida                    0.73            19.8
11               Georgia                    0.55            21.4
12                Hawaii                    0.90            19.0
13                 Idaho                    0.38            22.3
14              Illinois                    0.93            21.4
15               Indiana                    0.35            22.6
16                  Iowa                    0.67            21.9
17                Kansas                    0.73            21.7
18              Kentucky                    1.00            20.0
19             Louisiana                    1.00            19.5
20                 Maine                    0.08            24.3
21              Maryland                    0.28            23.6
22         Massachusetts                    0.29            25.4
23              Michigan                    0.29            24.1
24             Minnesota                    1.00            21.5
25           Mississippi                    1.00            18.6
26              Missouri                    1.00            20.4
27               Montana                    1.00            20.3
28              Nebraska                    0.84            21.4
29                Nevada                    1.00            17.8
30         New Hampshire                    0.18            25.5
31            New Jersey                    0.34            23.9
32            New Mexico                    0.66            19.7
33              New York                    0.31            24.2
34        North Carolina                    1.00            19.1
35          North Dakota                    0.98            20.3
36                  Ohio                    0.75            22.0
37              Oklahoma                    1.00            19.4
38                Oregon                    0.40            21.8
39          Pennsylvania                    0.23            23.7
40          Rhode Island                    0.21            24.0
41        South Carolina                    1.00            18.7
42          South Dakota                    0.80            21.8
43             Tennessee                    1.00            19.8
44                 Texas                    0.45            20.7
45                  Utah                    1.00            20.3
46               Vermont                    0.29            23.6
47              Virginia                    0.29            23.8
48            Washington                    0.29            21.9
49         West Virginia                    0.69            20.4
50             Wisconsin                    1.00            20.5
51               Wyoming                    1.00            20.2

In [62]:
act18 = pd.read_csv('../../dataset/sat-act/act_2018.csv')
act18 = act18.loc[:,['State','Participation','Composite']]
act18 = act18.loc[act18['State'] != 'National']
act18.loc[act18['State'] == 'Washington, D.C.', 'State'] = 'District of Columbia'
act18 = act18.drop(52)
act18['Participation'] = pd.to_numeric(act18['Participation'].str.replace('%','')) / 100
act18['Composite'] = pd.to_numeric(act18['Composite'])
act18.columns = ['State','ACT_Participation_2018','ACT_Total_2018']
print(act18.info())
act18.head(10)

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 0 to 51
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   51 non-null     object
 1   ACT_Participation_2018  51 non-null     float64
 2   ACT_Total_2018          51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.6+ KB
None

           State  ACT_Participation_2018  ACT_Total_2018
0          Maine                    0.07            24.0
1   Rhode Island                    0.15            24.2
2  New Hampshire                    0.16            25.1
3       Delaware                    0.17            23.8
4   Pennsylvania                    0.20            23.5
5       Michigan                    0.22            24.2
6        Vermont                    0.24            24.1
7       Virginia                    0.24            23.9
8     Washington                    0.24            22.2
9  Massachusetts                    0.25            25.5

In [63]:
print(sat17[sat17['State']=='District of Columbia'])
print(sat18[sat18['State']=='District of Columbia'])
print(act17[act17['State']=='District of Columbia'])
print(act18[act18['State']=='District of Columbia'])

                  State  SAT_Participation_2017  SAT_Total_2017
8  District of Columbia                     1.0             950
                  State  SAT_Participation_2018  SAT_Total_2018
8  District of Columbia                    0.92             977
                  State  ACT_Participation_2017  ACT_Total_2017
9  District of Columbia                    0.32            24.2
                   State  ACT_Participation_2018  ACT_Total_2018
16  District of Columbia                    0.32            23.6

In [64]:
result = sat17.merge(sat18, on='State').merge(act18, on='State').merge(act17, on='State')
result.shape

(51, 9)

In [66]:
result.to_csv('sat_act_2017_2018.csv', index=False)